- if complete(game)
  %div.game
    %p= status(game)
    %div.scoreboard
      %div.inline
        %table.teams
          %thead
            %tr
              %td &nbsp
          %tbody
            %tr
              %td.names= team_name(game, 'away')
            %tr
              %td.names= team_name(game, 'home')
      %div.inline.scrollable
        %table.linescore
          = render :partial => "line_scores/partials/linescore", :locals => {:game => game}
      %div.inline
        %table.totals
          = render :partial => "line_scores/partials/totals", :locals => {:game => game}
